.calender-tile-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 5px;
    flex: 1;
    height: 100%;
}
.calender-tile-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.calender-tile-top label{
    background-color: var(--light-blue);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding: 2px;
}

.calender-tile-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    align-items: start;
    justify-content: start;
    overflow: hidden;
}